
/* reset css */
body, header, nav, main, footer, div, h1, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

header img {
    height: 100px;
    width:auto;
}

html { 
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
/* font */
roboto-condensed-<font> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* top bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
    background: rgb(34,37,39);
}
/* main content */


main { 
    flex: 1 0 auto;
    padding: 2%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5rem;
    background-color: rgb(143,143,143);
    text-align: left;
    overflow: auto;
    
}

main img { 
    height: 250px;
    width: auto;
    float: right;
    margin-right: 1em;
    
}

/* home page quick fix */
.home-image {
    clear: both;
}

.home-image img {
    width: 350x;
    height: auto;
    display: block;
    margin: 1em auto 0;
}
/* stuff I like */

.like-item:nth-child(1) {
    margin-bottom: none;
    /* not nessecarily sure if this works */
}

.like-item {
    display: block;
    margin-bottom: 1em;
    min-height: 250px;
    overflow: auto;
   
}

.like-item img {
    float: right;
    height: 275px;
    width: auto;
    border-radius: 10px;
    margin-left: 1em;
}

/* about me */ 
.aboutme-image {
    
    clear: both;
}

.aboutme-image img {
    width: 500px;
    height: auto;
    float: none;
    display: block;
    margin: 1em auto 0;
}
/* footer stuff */
footer {
    float: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

/* burger menu */
.off-screen-menu ul {
    list-style: none;
    text-decoration: none;
}
.off-screen-menu ul li a {
    color: rgb(143,143,143);
    text-decoration: none;
}
    .off-screen-menu {
        background-color: rgb(34,37,39);
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    
    }
    .off-screen-menu.active {
        right: 0;   
    }
    nav {
        padding: 1rem;
        display: flex;
        background: rgb(34,37,39);
    }
    .ham-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span {
        height: 5px;
        width: 100%;
        background: #6F86ff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 25%; 
    }
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .off-screen-menu ul li a:hover {
        background-color: white;
        color: rgb(34,37,39);
        border-radius:5px;
        padding: 0.5rem;
    }
/* hide burger nav on desktop */ 
@media screen and (min-width: 700px) {
    nav {
        padding: 0%;
        display: none;
    }

    .ham-menu {
        display: none;
    }

    .off-screen-menu {
        position: static;
        height: auto;
        width: auto;
        max-width: none;
        background-color: transparent;
        flex-direction: row;
        justify-content: center;
        font-size: 1.1rem;
    }

    .off-screen-menu ul {
        display: flex;
        gap:2rem;
    }

    .off-screen-menu ul li a {
        color: white;
        font-size: 2rem;
        border-radius: 5px;
        border-radius:5px;
        padding: 0.5rem;
    }


    .off-screen-menu ul:last-child {
        margin-right: 2em;
    }
}